html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  //background: rgba(255,180,255,255); /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(top,rgba(255,180,255,255),rgba(255,122,122,255)); /*Safari 5.1-6*/
  //background: -o-linear-gradient(bottom,rgba(255,180,255,255),rgba(255,122,122,255)); /*Opera 11.1-12*/
  //background: -moz-linear-gradient(bottom,rgba(255,180,255,255),rgba(255,122,122,255)); /*Fx 3.6-15*/
  //background: linear-gradient(to bottom, rgba(255,180,255,255), rgba(255,122,122,255)); /*Standard*/
  //background-color: #fff;
}
#app, .container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc!important;
  direction: rtl;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc!important;
  direction: rtl;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc!important;
  direction: rtl;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc!important;
  direction: rtl;
}

.containerWrapper {
  width: 100%;
  height: 100%;
}

.loginWrapper {
  width: 22rem;
  height: 20rem;
  position: absolute;
  margin-top: -11rem;
  margin-left: -10rem;
  top: 50%;
  left: 50%;
  border: 0.05rem solid #eee;
  border-radius: 0.5rem;
  padding: 1rem;
}

.col10 {
  width: 10%;
}

.col20 {
  width: 20%;
}

.col40 {
  width: 40%;
}

.col60 {
  width: 60%;
}

.col80 {
  width: 80%;
}

.fl {
  float: left;
}

input::placeholder {
  text-align: left;
}

input::-webkit-input-placeholder {
  text-align: left;
}

input:-ms-input-placeholder {
  text-align: left;
}




