.title {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  color: #999;
}

.ant-form-item-control-wrapper .login-form {
  max-width: 300px;
}
.ant-form-item-control-wrapper .login-form-forgot {
  float: right;
}
.ant-form-item-control-wrapper .login-form-button {
  width: 100%;
}